@model IEnumerable<BillBoard.Models.Advert>

@{
    ViewBag.Title = "Доска объявлений";
}

<div class="jumbotron">
    <h2>Доска объявлений</h2>
    <p>Бесплатная доска объявлений - BillBoard.by. Свежие объявления от частных лиц и организаций каждый день.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("List", "Advert")">Все объявления</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="row">
                            @foreach (var item in Model.Take(4))
                            {
                                Html.RenderPartial("AdvertCarousel", item);
                            }
                        </div><!--.row-->
                    </div><!--.item-->

                    <div class="item">
                        <div class="row">
                            @foreach (var item in Model.Skip(5).Take(4))
                            {
                                Html.RenderPartial("AdvertCarousel", item);
                            }
                        </div><!--.row-->
                    </div><!--.item-->

                    <div class="item">
                        <div class="row">
                            @foreach (var item in Model.Skip(9).Take(4))
                            {
                                Html.RenderPartial("AdvertCarousel", item);
                            }
                        </div><!--.row-->
                    </div><!--.item-->

                </div><!--.carousel-inner-->
                <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
            </div><!--.Carousel-->

        </div>
    </div>
</div>
